@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

:root {
    --main-color: #1B1B1B;
    --secondary-color: wheat;
    --tertiary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--tertiary-color);
    position: relative;
}

input,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}



select {
    width: 100%;
    padding: 5px;
}

.container {
    width: 90%;
    margin: auto;
}

/*Header*/
/*Navigation bar*/
header {
    background-color: var(--main-color);
    height: 20%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 70px;
    color: wheat;
}

#newspaper-logo {
    color: wheat;
}

#bars {
    display: none;
    font-size: 40px;
    line-height: 1.7;
    height: 100%;
}

.nav-logo {
    height: 100%;
    line-height: 2.5;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    color: wheat;
}

.nav-links li{
    color: wheat;
    display: inline-block;
    padding: 20px 10px;
    line-height: 2.5;
    transition: 0.5s all;
}

.nav-links li:hover {
    background-color: wheat;
    color: var(--main-color);
    cursor: pointer;
}

.nav-search {
    padding: 23px 0;
}

#search-keyword {
    height: 30px;
    border-radius: 20px;
    border: 2px solid var(--main-color);
    padding: 10px;
    width: 90%;
}

#search-keyword-btn:hover {
    color: var(--tertiary-color);
    cursor: pointer;
}

/*Image slider*/
.image-slide {
    display: none;
    position: relative;
    width: 100%;
    height: 400px;
    transition: 0.5s all;
}

.image-slide.active{
    display: block;
}

.image-capture {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    opacity: 0.9;
}

.image-capture {
    padding: 15px;
}

.image-headline {
    font-size: 23px;
    color: wheat;
}

.image-headline:hover {
    text-decoration: underline;
}

.image-author {
    color: gray;
}

#left-btn {
    position: absolute;
    top: 8%;
    left: 1%;
    opacity: 0.5;
    cursor: pointer;
}

#right-btn {
    position: absolute;
    top: 8%;
    right: 1%;
    opacity: 0.5;
    cursor: pointer;
}

#left-btn:hover,
#right-btn:hover {
    opacity: 1;
}

/*Mobile navigation bar*/
.mobile-nav-bar {
    display: none;
    padding: 20px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    height: 101vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
}

#close {
    display: block;
    text-align: right;
    font-size: 25px;
    cursor: pointer;
}

.mobile-nav-bar .nav-logo {
    height: 10%;
    margin-bottom: 50px;
    text-align: center;
}

.mobile-nav-bar .nav-search {
    text-align: center;
}

#mobile-search-keyword {
    width: 90%;
    border-radius: 10px;
}

.mobile-nav-bar .nav-links li {
    display: block;
    line-height: 2.5;
    padding: 10px;
    text-align: center;
}

/*Main category*/
.display-category {
    display: block;
}

.display-keyword {
    display: none;
}

/*Top headlines section*/
.top-headlines {
    margin: 20px 0;
}

.title {
    padding: 10px 0;
    border-bottom: 2px solid var(--main-color);
}

.headline-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.news-card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: var(--secondary-color);
}

#thumbnail {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

small {
    font-size: 15px;
    display: block;
    color: gray;
    margin: 2px;
}

.news-info {
    padding: 5px 10px;
}

.news-info h2 {
    height: 90px;
}

.click-more {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 2px solid var(--main-color);
    text-align: center;
}

#load-more-news {
    grid-column: 1/4;
    border: 2px solid var(--main-color);
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.space {
    height: 100px;
}

/*News description*/
.news-description {
    display: flex;
    overflow: auto;
    grid-column: 1/4;
    height: 500px;
    background-color: var(--main-color);
    color: var(--tertiary-color);
    animation-name: swipe-down;
    animation-duration: 1s;
    width: 100%;
    margin-bottom: 20px;
}

#full-image {
    width: 50%;
    object-fit: cover;
}

.news-complete-info{
    margin: 0 30px;
    padding: 30px 0;
    color: white;
}

.news-complete-info small {
    font-size: 16px;
}

.news-full-description {
    padding: 10px 0;
    margin: 10px 0;
    border-top: 2px solid var(--tertiary-color);
    text-align: justify;
    max-height: 300px;
}

.news-source {
    color: gray;
    font-size: 18px;
    text-align: right;
    font-style: italic;
}

.buttons-container {
    text-align: center;
}

#redirect, 
#close-description {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px 0;
}

/*Everything*/
.search-advanced {
    margin-top: 10px;
    border: 2px solid var(--main-color);
    background-color: var(--secondary-color);
}

.everything-grid {
    padding: 20px 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.search-advanced {
    padding: 10px;
}

.show-advanced-keyword {
    display: none;
    text-align: center;
}

.opened-advanced-keyword {
    display: block;
}

.opened-advanced-keyword div {
    text-align: center;
}

#advanced-search-btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: var(--tertiary-color);
}

/*Footer*/
footer {
    overflow-x: hidden;
    padding: 10px;
    width: 100%;
    color: var(--tertiary-color);
    background-color: var(--main-color);
}
  
.footer-main {
    display: flex;
    justify-content: space-between; 
}
  
.footer-title {
    margin: 10px 0;
    display: flex;
}
  
.footer-powered-api {
    margin-top: 10px;
}
  
.api-images {
    display: flex;
}
  
.api-images img {
    width: 100px;
}
  
.footer-image-credits {
    border-top: 2px solid white;
    padding-top: 10px;
    color: white;
}
  
#logo {
    width: 120px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .nav-logo {
        font-size: 25px;
        line-height: 2.7;
    }

    .nav-links li {
        padding: 20px 5px;
    }
}

@media (max-width: 1080px) {
    .nav-logo {
        font-size: 20px;
        line-height: 3.6;
    }

    .nav-links li {
        font-size: 15px;
        line-height: 2.3;
    }
}

@media (max-width: 1020px) {
    #left-btn,
    #right-btn {
        top: 10%;
    }

    .nav-logo {
        width: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 2.5;
    }

    #bars {
        display: block;
    }

    .nav-links li {
        display: none;
    }

    .nav-search {
        display: none;
    }

    .mobile-nav-bar .nav-search {
        display: block;
    }

    #mobile-search-keyword {
        height: 50px;
    }

    #search-keyword-btn {
        font-size: 20px;
    }

    /*Mobile version*/
    .mobile-nav-bar .nav-logo {
        font-size: 60px;
    }

    .mobile-nav-bar .nav-links li {
        font-size: 30px;
    }

    /*Headlines*/
    .headline-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #load-more-news {
        grid-column: 1/3;
    }

    /*Keywords*/
    .everything-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-description {
        grid-column: 1/3;
        flex-direction: column;
        height: 500px;
    }
}

@media (max-width: 800px) {
    #full-image {
        width: 100%;
        height: 40%;
    }
}

@media (max-width: 600px) {
    /*Headlines*/
    .headline-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .news-description {
        grid-column: 1/2;
    }

    #load-more-news {
        grid-column: 1/2;
    }

    /*Keywords*/
    .everything-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .mobile-nav-bar .nav-logo {
        height: 200px;
        line-height: 1.3;
        margin-bottom: -50px;
    }
}

@media (max-width: 425px) {
    #left-btn,
    #right-btn {
        top: 5%;
    }
}

@keyframes swipe-down {
    from{
        height: 0;
    }
    to {
        height: 500px;
    }
}